.details {
  @include list-wrapper-style;
  position: relative;

  ul {
    @include ul-style;
    height: 100%;

    li {
      @include li-style;
    }
  }

  button {
    @include buttons-style;
    position: fixed;
    bottom: 12%;
    width: 28%;
  }
}
