.footer {
  @include flex-row-center-spacebetween;
  * {
    padding: 0;
    margin: 0 2rem 0 2rem;
    color: #cac7c7;
  }
  div {
    font-size: larger;
  }
  width: 100%;
  height: 7%;
  background-color: #0f2e2e;
}
