@import "variables";

.footer {
  width: 100%;
  height: 7%;
  background-color: $backGround-dark;
  @include flex-center-spacebetween;

  * {
    padding: 0;
    color: $gray;
    margin: 0 2rem 0 1rem;
  }

  div {
    font-size: larger;
  }
}
