@import "variables";

.footer {
  @include flex-row-center-spacebetween;

  * {
    padding: 0;
    color: $gray;
    margin: 0 2rem 0 0.5rem;
  }
  small {
    margin-right: 1rem;
  }
  width: 100%;
  height: 8%;
  background: $backGround-dark;
}
