@import "variables";

.footer {
  @include flex-row-center-spacebetween;

  * {
    padding: 0;
    color: $gray;
    margin: 0 2rem 0 1rem;
  }

  div {
    font-size: larger;
  }

  width: 100%;
  height: 8%;
  background-color: $backGround-dark;
}
