form {
  width: 25rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 10px 20px 10px rgb(226, 226, 226);
  border-radius: 1px;
  float: left;
  margin-right: 5rem;
  * {
    letter-spacing: 1.5px;

    padding: 0.2rem;
    width: 20rem;
    height: 2rem;
  }
  button {
    width: 20.7rem;
    height: 3rem;
    margin: 1rem 0 0 0.8rem;
    letter-spacing: 4px;
    font-size: 0.9rem;
  }
}
