@import "variables";
@import "mixins";

.registrationForms {
  width: 100%;
  height: 100%;
  position: relative;
  @include flex-center-center;
  border: 2px solid #a7a7a7;

  .targetCarList,
  .targetOperationList {
    height: 80%;
    width: 100%;
    li {
      color: #d8a461;
      padding-bottom: 1.3rem;
      width: 87%;
      span {
        color: $gray;
      }
    }
  }

  select {
    width: 50%;
    margin-left: 1rem;
    color: $gray;
  }

  .logo {
    font-size: 5rem;
    text-align: center;
    color: #f1cc9a;
    opacity: 0.3;
    text-shadow: 0px 0px 0 #f1cc9a, 2px 2px 0 #f0c389, 4px 4px 0 #e6b270,
      6px 6px 0 #d39e59, 8px 8px 0 #be8b49, 10px 10px 0 #ad7a37,
      12px 12px 0 #996827, 14px 14px 0 #754c15, 21px 21px 20px #000000,
      21px 21px 1px #00000080, 0px 0px 20px #00000033;
    animation: example 10s linear infinite alternate;
  }

  * {
    padding: 0;
    margin: 0;
  }

  .container {
    height: 100%;
    border: 2px solid #a7a7a7;

    .header {
      display: flex;
      color: #303030;
      justify-content: space-between;
      background-color: $light-gray;
      padding: 5px 5px 5px 2.4rem;
      box-shadow: inset 3px 1px 2rem -4px #777;

      small {
        margin: 0;
        text-align: center;
      }

      .close {
        width: 1rem;
        height: 1rem;
        color: $light-gray;
        font-weight: bold;
        border-radius: 50%;
        cursor: pointer;
        background-color: $backGround-dark;
      }
    }

    form {
      max-height: 70%;
      padding: 10px 40px;

      .form-control {
        padding-bottom: 20px;
        position: relative;

        &.success input {
          border-color: $green;
        }

        &.success .fa-check-circle {
          color: $green;
          visibility: visible;
        }

        &.error input {
          border-color: $red;
        }

        &.error .fa-exclamation-circle {
          color: $red;
          visibility: visible;
        }

        &.error small {
          visibility: visible;
        }

        .fas {
          visibility: hidden;
          position: absolute;
          top: 33px;
          right: 5px;
        }

        label {
          font-size: 0.9rem;
          margin-bottom: 5px;
          display: inline-block;
          color: #d8a461;
        }

        input {
          width: 100%;
          display: block;
          font-size: 14px;
          text-indent: 10px;
          border-radius: 4px;
          font-family: inherit;
          padding: 8px 0 8px 0;
          border: 2px solid #777;
          background-color: #dadadad8;
          box-shadow: 2px 2px 10px -2px #777;

          &:focus {
            outline: 0;
            border-color: #777;
          }
        }
      }

      button {
        height: 3em;
        width: 92%;
        bottom: 2.5%;
        left: 4%;
        color: gray;
        font-size: 1rem;
        font-weight: bold;
        position: absolute;
        border-radius: 5px;
        letter-spacing: 3px;
        transition: 0.5s ease-in-out;
        background-color: $light-gray;
        box-shadow: inset 3px 5px 2rem -4px #777;
        &:hover {
          cursor: pointer;
          background-color: #eec692;
        }
      }

      small {
        color: $red;
        position: absolute;
        visibility: hidden;
        bottom: 0;
        left: 0;
      }
    }
  }
}

@keyframes example {
  0% {
    transform: skewY(2deg);
  }

  35% {
    transform: skewX(-2deg) scale(1.05);
  }

  50% {
    transform: skewX(2deg);
  }

  100% {
    transform: skewY(-2deg);
  }
}
