@import "variables";
@import "mixins";

form {
  width: 92%;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;

  div {
    width: 100%;

    input {
      width: 100%;
      color: $gray;
      height: 2.5rem;
      font-size: 1rem;
      text-indent: 1rem;
      margin-bottom: 2rem;
      letter-spacing: 1.5px;
      border-radius: 0.5rem;
      background-color: $backGround-dark;
      border: 2px solid $backGround-light;
    }
  }

  .buttonWrapper {
    @include buttons-wrapper-style;

    button {
      @include buttons-style;
      background-color: $backGround-light;
    }
  }
}
