@import "mixins";

.container {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 77%;
    background-color: #004747;
    @include flex-center-spaceEvenly;

    .description {
      padding: 4rem;
      line-height: 2rem;
      font-size: larger;
      text-align: justify;
    }

    .lists {
      width: 31%;
      height: 90%;
      overflow: auto;
      position: relative;
      background: #0c2727;

      ul {
        margin: 0;
        height: 100%;
        color: #d3d2d2;
        background: #0c2727;
        padding: 0 1rem 0 1.7rem;

        .li-buttons-wrapper {
          border-bottom: 1px solid #428046;
          @include flex-row-center-spacebetween;

          div {
            @include flex-row-center-spacebetween;
          }

          &:hover {
            cursor: pointer;
          }

          li {
            list-style: none;
            margin: 1rem 0 1rem 0;
          }

          .icon {
            color: #d3d2d2;
            margin-left: 0.5rem;
            @include flex-center-center;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      button {
        width: 93%;
        bottom: 2%;
        height: 3rem;
        position: absolute;
        border-radius: 6px;
        margin: 0 1rem 0 1rem;
        background-color: #428046;
      }
    }

    .registrationForms {
      width: 31%;
      height: 90%;
      background-color: #000000c2;
    }
  }
}
