@import "mixins";
@import "variables";

.container {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 84%;
    @include flex-center-spaceEvenly;
    background-color: $backGround-light;

    .selected-item-header {
      @include addressed-pages-headers;
    }

    .lists {
      @include list-wrapper-style;

      ul {
        @include ul-style;

        * {
          @include flex-row-center-spacebetween;
        }

        .li-buttons-wrapper {
          @include li-style;
          padding-left: 0;

          .icon {
            color: $gray;
            margin-left: 1rem;
            transition: 0.5s ease-in-out;
            @include flex-center-center;

            &:hover {
              cursor: pointer;
              color: #d8a461;
            }
          }

          &:hover {
            color: #d8a461;
            cursor: pointer;
          }
        }
      }

      .buttonWrapper {
        @include buttons-wrapper-style;
        width: 32%;
        height: 10vh;
        bottom: 11%;

        button {
          @include buttons-style;
        }
      }
    }

    .registrationForms {
      @include list-wrapper-style;
    }
  }
}
