@import "mixins";
@import "variables";
.container {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 77%;
    @include flex-center-spaceEvenly;
    background-color: $backGround-light;

    .description {
      padding: 4rem;
      line-height: 2rem;
      font-size: larger;
      text-align: justify;
    }

    .lists {
      @include list-wrapper-style;

      ul {
        @include ul-style;

        height: 100%;

        * {
          @include flex-row-center-spacebetween;
        }

        .li-buttons-wrapper {
          @include li-style;

          .icon {
            color: $gray;
            margin-left: 1rem;
            @include flex-center-center;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      button {
        @include buttons-style;
        position: fixed;
        bottom: 12%;
        width: 28%;
      }
    }

    .registrationForms {
      @include list-wrapper-style;
    }
  }
}
