@import "mixins";
@import "variables";

.container {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 84%;
    @include flex-center-spaceEvenly;
    background-color: $backGround-light;

    .description {
      padding: 4rem;
      line-height: 2rem;
      font-size: larger;
      text-align: justify;
    }

    .lists {
      @include list-wrapper-style;

      ul {
        @include ul-style;

        * {
          @include flex-row-center-spacebetween;
        }

        .li-buttons-wrapper {
          @include li-style;

          .icon {
            color: $gray;
            margin-left: 1rem;
            @include flex-center-center;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .buttonWrapper {
        width: 30%;
        height: 10%;
        bottom: 12.3%;
        position: fixed;
        @include buttons-wrapper-style;
        button {
          @include buttons-style;
        }
      }
    }

    .registrationForms {
      @include list-wrapper-style;
    }
  }
}
