@import "mixins";
@import "variables";

.container {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 84%;
    @include flex-center-spaceEvenly;
    background-color: $backGround-light;

    .description {
      padding: 4rem;
      line-height: 2rem;
      font-size: larger;
      text-align: justify;
    }

    .lists {
      border: 2px solid #a7a7a7;

      @include list-wrapper-style;

      ul {
        @include ul-style;

        * {
          @include flex-row-center-spacebetween;
        }

        .li-buttons-wrapper {
          @include li-style;

          .icon {
            color: $gray;
            margin-left: 1rem;
            @include flex-center-center;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .buttonWrapper {
        @include buttons-wrapper-style;
        width: 32%;
        height: 10vh;
        bottom: 11%;
        border-radius: 1rem;
        position: absolute;
        button {
          @include buttons-style;
        }
      }
    }

    .registrationForms {
      @include list-wrapper-style;
    }
  }
}

.targetCarList,
.targetOperationList {
  @include ul-style;
  width: 100%;
  li {
    @include li-style;
    height: 0.9rem;
  }
}
