.landing-page {
  width: 100vw;
  height: 100%;

  .landing-pag-nav-bar {
    height: 8%;
    height: 8%;
    color: $gray;
    background: $backGround-dark;
    @include flex-row-center-flexStart;

    .logo {
      width: 15%;
      height: 100%;
      color: $gray;
      font-size: 3rem;
      @include gradient;
      @include flex-center-center;

      small {
        font-size: small;
      }
    }

    .setting {
      right: 0;
      list-style: none;
      font-weight: bold;
      border-radius: 4px;
      position: absolute;
      margin-right: 2rem;
      @include flex-center-center;

      * {
        margin-left: 2rem;
        font-size: larger;
      }

      li {
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.5s;
        font-weight: bold;
        font-size: 0.8rem;
        border-radius: 4px;

        &:hover {
          color: $backGround-dark;
          background-color: #ebebeb;
        }
      }

      :nth-child(3) {
        height: 0.9rem;
        @include landing-page-tabs;
      }

      :last-child {
        padding: 0.3rem;
        transition: 0.5s;
        border-radius: 4px;
        margin-left: 0.3rem;
        @include landing-page-tabs;
      }
    }
  }

  .landing-content {
    height: 84%;
    background-color: #ffffff;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.699),
        rgba(0, 0, 0, 0.904)
      ),
      url("../img/cars.png");
    background-position: center;
    background-size: cover;

    .login-header {
      height: 30%;
      @include flex-column-center-center;

      div :nth-child(1) {
        font-size: 6rem;
        color: #d8a461;
      }

      strong {
        color: #d8a461;
        letter-spacing: 1rem;
      }
    }

    .login-form {
      width: 100vw;
      height: 60%;
      @include flex-column-center-center;

      strong {
        color: $gray;
        font-size: xx-large;
        margin-left: 0.5rem;
        padding-bottom: 2rem;
        letter-spacing: 1.04rem;
      }

      form {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;

        div {
          padding-bottom: 2rem;

          input {
            height: 2rem;
            border-radius: 4px;
            letter-spacing: 1px;
            text-indent: 0.7rem;
            border: 1px solid #9e9e9e;

            &:focus {
              border: 1px solid transparent;
            }
          }

          * {
            display: block;
            width: 98.2%;
          }
        }

        .submit-button {
          height: 2.7rem;
          font-size: 1rem;
          transition: 0.5s;
          border-radius: 4px;
          font-weight: bolder;
          letter-spacing: 4px;
          color: $backGround-dark;
          background: linear-gradient();
          border: 2px solid $backGround-dark;

          &:hover {
            cursor: pointer;
            background-color: #eec692;
          }
        }
      }

      .forgot-password {
        margin-bottom: 4rem;
        color: #ffffff;
        @include flex-column-center-center;

        :nth-child(1) {
          cursor: pointer;
          color: #d8a461;
          transition: 0.5s;
          letter-spacing: 2px;
          border-bottom: 2px solid #d8a461;

          &:hover {
            font-size: small;
            border-radius: 4px;
            color: $backGround-dark;
            background-color: #d8a461;
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
          }
        }
      }

      .back {
        height: 2rem;
        width: 1.6rem;
        cursor: pointer;
        color: #dedede;
        border-radius: 50%;
        font-weight: bolder;
        margin-bottom: 1rem;
        @include flex-center-center;
        background-color: $backGround-dark;
      }
    }
  }

  .footer {
    bottom: 0;
    height: 8%;
    position: absolute;
  }
}

.about-page {
  width: 99vw;
  height: 60%;
  display: flex;
  color: #a8a8a8dc;
  align-items: center;
  flex-direction: column;

  strong {
    font-size: 2.5rem;
    color: #c5c5c5dc;
    margin-bottom: 4rem;
  }

  p {
    width: 60%;
    line-height: 2rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-align: justify;
    font-weight: lighter;
  }
}
