.landing-page {
  width: 100vw;
  height: 100%;

  .navBar {
    height: 8%;

    .setting {
      position: absolute;
      right: 0;
      list-style: none;
      border-radius: 4px;
      font-weight: bold;

      li {
        padding: 0.5rem;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
        font-size: 0.8rem;

        &:hover {
          background-color: #ebebeb;
          color: $backGround-dark;
        }
      }

      :nth-child(3) {
        background-color: #ebebeb;
        color: $backGround-dark;
        border: 2px solid #ebebeb;
        height: 0.9rem;
        &:hover {
          color: rgb(255, 255, 255);
          background-color: $backGround-dark;
        }
      }

      :last-child {
        margin-left: 0.3rem;
        background-color: #ebebeb;
        color: $backGround-dark;
        border: 2px solid #ebebeb;
        padding: 0.3rem;
        border-radius: 4px;
        transition: 0.5s;
        &:hover {
          cursor: pointer;
          color: rgb(255, 255, 255);
          background-color: $backGround-dark;
        }
      }
    }
  }

  .landing-content {
    height: 84%;
    background-color: #ffffff;
    background-image: linear-gradient(
      360deg,
      #ffffff 0%,
      #00474781,
      #e4e4e4 94%
    );

    .login-header {
      height: 30%;
      @include flex-column-center-center;

      div :nth-child(1) {
        font-size: 6rem;
        color: $backGround-dark;
      }

      strong {
        color: $backGround-dark;
        letter-spacing: 1rem;
      }
    }

    .login-form {
      width: 99vw;
      height: 60%;
      @include flex-column-center-center;

      strong {
        font-size: xx-large;
        color: $backGround-dark;
        letter-spacing: 1.04rem;
        margin-left: 0.5rem;

        padding-bottom: 2rem;
      }

      form {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;

        div {
          padding-bottom: 2rem;

          input {
            height: 2rem;
            border: 1px solid rgb(158, 158, 158);
            border-radius: 4px;
            letter-spacing: 1px;
            text-indent: 0.7rem;

            &:focus {
              border: 1px solid transparent;
            }
          }

          * {
            display: block;
            width: 98.2%;
          }
        }

        .submit-button {
          height: 2.7rem;
          font-weight: bolder;
          font-size: 1rem;
          letter-spacing: 4px;
          color: $backGround-dark;
          border-radius: 4px;
          background-color: transparent;
          border: 2px solid $backGround-dark;
          transition: 0.5s;

          &:hover {
            border: 2px solid #dedede;
            background-color: #dedede2a;
            cursor: pointer;
          }
        }
      }

      .forgot-password {
        @include flex-column-center-center;
        margin-bottom: 4rem;
        :nth-child(1) {
          letter-spacing: 2px;
          transition: 0.5s;
          border-bottom: 2px solid $backGround-dark;
          cursor: pointer;
          &:hover {
            color: rgb(255, 255, 255);
            background-color: $backGround-dark;
            border-radius: 4px;
            font-size: small;
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
          }
        }
      }

      .back {
        margin-bottom: 1rem;
        color: #dedede;
        width: 1.6rem;
        height: 2rem;
        background-color: $backGround-dark;
        border-radius: 50%;
        @include flex-center-center;
        font-weight: bolder;
        cursor: pointer;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    height: 8%;
  }
}

.about-page {
  width: 99vw;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;

  strong {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    color: $backGround-dark;
  }

  p {
    width: 60%;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: lighter;
    text-align: justify;
    letter-spacing: 2px;
  }
}
