@mixin flex-row-center-spacebetween {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-row-center-spacearound {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-center-spaceEvenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-flexEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-row-center-flexStart {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

@mixin buttons-wrapper-style {
  bottom: 0;
  margin: 0;
  height: 13%;
  width: 100%;
  position: sticky;
  background-color: $backGround-dark;
}

@mixin buttons-style {
  width: 93%;
  height: 3rem;
  color: $gray;
  font-size: large;
  font-weight: bold;
  border-radius: 6px;
  letter-spacing: 1px;
  margin: 0.7rem 1rem 0 1rem;
  background-color: $backGround-light;
}

@mixin list-wrapper-style {
  width: 31%;
  height: 100%;
  color: $gray;
  overflow: hidden;
  max-height: 90%;
  overflow-y: scroll;
  border-radius: 0.5rem;
  background-color: $backGround-dark;

  &::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 10px;
    background-color: $backGround-dark;
  }

  &::-webkit-scrollbar-thumb {
    width: 0.5em;
    border-radius: 1rem;
    background-color: $backGround-light;
    border-right: 1px solid $backGround-dark;
  }
}

@mixin ul-style {
  color: $gray;
  list-style: none;

  padding: 0 1rem 0 1rem;
  background: $backGround-dark;
}

@mixin li-style {
  padding: 3%;
  margin: 1rem 0 1rem 0;
  border-bottom: 1px solid $border;
}

@mixin gradient {
  background: linear-gradient(
    to bottom,
    $backGround-dark 1%,
    $backGround-dark 55%,
    $backGround-light 97%
  );
}
