@mixin flex-row-spacebetween-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-spaceEvenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
