@mixin flex-row-center-spacebetween {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-row-center-spacearound {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-row-center-flexStart {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

@mixin flex-center-spaceEvenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-flexEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin buttons-wrapper-style {
  height: 13%;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 1rem;
  background-color: $backGround-dark;
}

@mixin buttons-style {
  width: 93%;
  height: 3rem;
  color: gray;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  border-radius: 5px;
  letter-spacing: 3px;
  margin: 0.5em 0 0 1rem;
  background-color: #dadada;
  transition: 0.5s ease-in-out;
  box-shadow: inset 3px 5px 2rem -4px #777;
  &:hover {
    cursor: pointer;
    background-color: #ffd9a7;
  }
}

@mixin list-wrapper-style {
  width: 32%;
  height: 100%;
  color: $gray;
  overflow: hidden;
  max-height: 95%;
  border-radius: 0.5rem;
  background-color: $backGround-dark;
  border: 2px solid #a7a7a7;

  &::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 10px;
    background-color: $backGround-dark;
  }

  &::-webkit-scrollbar-thumb {
    width: 0.5em;
    border-radius: 1rem;
    background-color: $backGround-light;
    border-right: 1px solid $backGround-dark;
  }
}

@mixin ul-style {
  color: $gray;
  list-style: none;
  padding: 0 1rem 0 1rem;
  background: $backGround-dark;
}

@mixin li-style {
  padding: 3%;
  margin: 1rem 0 1rem 0;
  border-bottom: 1px solid rgba(199, 190, 190, 0.253);
}

@mixin gradient {
  background: linear-gradient(
    to bottom,
    $backGround-dark 1%,
    $backGround-dark 55%,
    $backGround-light 97%
  );
}

@mixin drop-down-list-styles {
  &::after {
    font-size: 1.1rem;
    content: "\27A2";
    position: absolute;
    margin-left: -1.1rem;
    margin-top: 0.05rem;
    transform: rotate(90deg);
    color: #d8a461;
  }
  select {
    border-radius: 4px;
    margin-left: 1rem;
    color: $gray;
    width: 10rem;
    -moz-appearance: none;
    text-indent: 4px;
    text-overflow: "";
    background-color: #1d1d1d;
    border-color: #d8a461;
    color: #d8a461;
    &:focus {
      outline: none;
    }
  }
}

@mixin addressed-pages-headers {
  display: flex;
  justify-content: space-between;
  color: #303030;
  background-color: #dadada;
  padding: 5px 5px 5px 1.7rem;
  box-shadow: inset 3px 1px 2rem -4px #777;

  small {
    margin: 0;
    text-align: center;
    font-weight: bold;
  }

  .close {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    color: #cecece;
    font-weight: bold;
    border-radius: 50%;
    background-color: $backGround-dark;
  }
}
