.navBar {
  height: 8%;
  color: $gray;
  background: $backGround-dark;
  @include flex-row-center-flexStart;

  .logo {
    width: 15%;
    height: 100%;
    color: $gray;
    font-size: 3rem;
    @include gradient;
    @include flex-center-center;

    small {
      font-size: small;
    }
  }

  .all {
    height: 100%;
    width: 100%;
    margin-left: 2rem;
    @include flex-row-center-flexStart;

    .taps {
      padding: 0;
      width: 27%;
      height: 100%;
      color: $gray;
      cursor: pointer;
      font-weight: bold;
      margin-left: 1rem;
      @include flex-row-center-spacearound;

      li {
        width: 33.33%;
        height: 100%;
        color: $gray;
        letter-spacing: 2px;
        @include flex-center-center;
        transition: 0.5s ease-in-out;

        &:hover {
          @include gradient;
        }
      }
    }

    .searchBarHolder {
      height: 50%;
      width: 34.5%;
      margin-left: 4rem;
      border-radius: 4px;
      @include flex-center-center;
      position: relative;

      &::before {
        right: 2px;
        z-index: 3;
        font-size: 22px;
        color: #5f5f5f;
        content: "\27A2";
        position: absolute;
        transform: rotate(90deg);
      }

      &:hover {
        box-shadow: 0px 0px 3px 3px rgb(83, 83, 83),
          inset 0px 0px 8px 3px rgb(100, 100, 100);
      }

      input {
        width: 100%;
        height: 94%;
        border: none;
        text-indent: 0.5rem;
        letter-spacing: 1px;
        background-color: $gray;
        border-radius: 0.3rem;
        position: absolute;
      }

      select {
        width: 26%;
        height: 100%;
        right: 0;
        border: none;
        color: #5f5f5f;
        cursor: pointer;
        position: absolute;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding-left: 4px;
        background-color: #cecccc;
        border-left: 1px solid gray;
        border-radius: 0 0.3rem 0.3rem 0;

        &::-ms-expand {
          display: none;
        }

        &:focus::-ms-value {
          background-color: transparent;
        }
      }
    }
  }
  .setting {
    padding-left: 0.5rem;
    height: 100%;
    width: 6%;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    div {
      color: $backGround-dark;
      font-weight: bold;
      font-size: large;
      margin-top: 0.4rem;
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 50%;
      background-color: #cecccc;
      @include flex-center-center;
    }
    span {
      cursor: pointer;
      font-size: smaller;
      color: #cecccc;
      border-bottom: 1px solid #cecccc;
    }
  }
}
