.navBar {
  height: 8%;
  background-color: $backGround-dark;
  color: $gray;
  @include flex-row-center-flexStart;

  .logo {
    font-size: 3rem;
    @include flex-center-center;
    color: $gray;

    height: 100%;
    width: 15%;
    small {
      font-size: small;
    }

    @include gradient;
  }

  .all {
    height: 100%;
    width: 100%;
    margin-left: 2rem;
    @include flex-row-center-flexStart;

    .taps {
      padding: 0;
      width: 27%;
      height: 100%;
      color: $gray;
      cursor: pointer;
      font-weight: bold;
      margin-left: 1rem;
      @include flex-row-center-spacearound;

      li {
        width: 33.33%;
        height: 100%;
        color: $gray;
        letter-spacing: 2px;
        @include flex-center-center;
        transition: 0.5s ease-in-out;

        &:hover {
          @include gradient;
        }
      }
    }

    .searchBarHolder {
      @include flex-center-center;
      height: 50%;
      width: 34.5%;
      margin-left: 4rem;
      border-radius: 4px;
      &:hover {
        box-shadow: 0px 0px 3px 3px rgb(83, 83, 83),
          inset 0px 0px 8px 3px rgb(100, 100, 100);
      }
      input {
        border: none;
        height: 100%;
        width: 90%;
        border-radius: 0.3rem 0 0 0.3rem;
        text-indent: 0.5rem;
        letter-spacing: 1px;
        background-color: $gray;
      }

      button {
        width: 10%;
        height: 105%;
        border: none;
        border-radius: 0 0.3rem 0.3rem 0;
        cursor: pointer;
        background-color: $gray;
      }
    }
  }
}

.setting {
  @include flex-center-center;

  margin-right: 2rem;
  * {
    margin-left: 2rem;
    font-size: larger;
  }
}
