.details {
  border: 2px solid #a7a7a7;
  @include list-wrapper-style;
  position: relative;
  .logo {
    font-size: 20rem;
    text-align: center;
    margin-top: 30%;
    color: rgba(253, 253, 253, 0.089);
  }
  ul {
    @include ul-style;
    max-height: 80%;

    li {
      @include li-style;
      height: 0.5rem;
    }
  }

  select {
    margin-left: 1rem;
    color: $gray;
  }

  .buttonWrapper {
    @include buttons-wrapper-style;
    width: 100%;
    bottom: 0.7%;

    border-radius: 1rem;
    position: absolute;
    button {
      @include buttons-style;
    }
  }
}

.selected-item-header {
  display: flex;
  justify-content: space-between;
  color: #303030;
  background-color: #dadada;
  padding: 5px 5px 5px 2.4rem;
  box-shadow: inset 3px 1px 2rem -4px #777;

  small {
    margin: 0;
    text-align: center;
  }

  .close {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    color: #cecece;
    font-weight: bold;
    border-radius: 50%;
    background-color: $backGround-dark;
  }
}
