.details {
  @include list-wrapper-style;
  position: relative;
  height: 90%;
  ul {
    @include ul-style;
    max-height: 80%;

    li {
      @include li-style;
      height: 0.5rem;
    }
  }
  select {
    margin-left: 1rem;
    color: $gray;
  }
  .buttonWrapper {
    @include buttons-wrapper-style;
    position: absolute;
    bottom: 0;
    button {
      @include buttons-style;
    }
  }
}

.selected-item-header {
  box-shadow: inset 3px 1px 2rem -4px #777;
  background-color: #dadada;
  color: rgb(48, 48, 48);
  padding: 5px 5px 5px 2.4rem;
  display: flex;
  justify-content: space-between;

  small {
    margin: 0;
    text-align: center;
  }
  .close {
    background-color: $backGround-dark;
    width: 1rem;
    height: 1rem;
    color: rgb(206, 206, 206);
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
  }
}
