.details {
  @include list-wrapper-style;

  ul {
    @include ul-style;
    height: 90%;
    position: relative;

    li {
      @include li-style;
    }
  }
  select {
    margin-left: 1rem;
    color: $gray;
  }
  .buttonWrapper {
    @include buttons-wrapper-style;
    button {
      @include buttons-style;
    }
  }
}
