$backGround-dark: #0c2727;
$backGround-light: #004747;
$border: #004747;
$gray: #c4bfbf;
$light-gray: #dadada;
// $green: #209751;
// $red: #b8382a;

$yellow: #f1c40f;
$cyan: #1abc9c;
$red: #e74c3c;
$green: #2ecc71;
$purple: #9b59b6;
$orange: #e67e22;
$black: #000a0f;
$pink: #d81b60;
$lime: #76ff03;
