@import "form";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  height: 99.7%;
  border: 1px solid black;
  .navBar {
    height: 4rem;
    width: 100%;
    border: 1px solid red;
  }
  .buttonsContainer {
    height: 25%;
    width: 100%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    * {
      width: 31%;
      height: 80%;
      border: 1px solid blue;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: x-large;
      text-decoration: none;
    }
  }
  .content {
    width: 99.5%;
    height: 65%;
    border: 4px solid rgb(190, 83, 21);
    position: relative;
    .description {
      padding: 4rem;
      line-height: 2rem;
      font-size: larger;
      text-align: justify;
      position: absolute;
    }
    .clientsList,
    .operationsList,
    .carsList {
      width: 32.5%;
      height: 100%;
      position: absolute;
      border: 2px solid rgb(37, 112, 197);
      li {
        margin-bottom: 0.5rem;
        list-style: none;
      }
    }
  }
}
