@import "forms";
@import "navBar";
@import "footer";
@import "mixins";
@import "infosLists";
@import "landingPage";
@import "selectedItemWrapper";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  @include flex-center-center;
}

.targetCarWrapper,
.targetOperationWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  ul {
    width: 100%;
    li {
      width: 100%;
      height: 1%;
    }
  }
  .selected-item-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    box-shadow: inset 3px 1px 2rem -4px #777;
    background-color: #dadada;
    color: rgb(48, 48, 48);
    :nth-child(2) {
      margin-right: 4rem;
    }
  }
}
